* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    min-height: 100vh;
    background-color: aqua;
}

h1 {
    color: maroon;
    text-align: center;
    padding: 25px;
    background-color: antiquewhite;
}

h2 {
    color: blue;
    text-align: center;
    margin-bottom: 25px;
    padding: 25px;
    background-color: azure;
}

p {
    font-size: 20px;
    color: green;
    padding: 20px;
}

ol, ul {
    color: blue;
    font-size: 20px;
}

strong {
    color: red;
}

li {
    margin: 20px;
}

pre, code {
    color: red;
    font-size: 20px;
}
