* {
    margin: 0;
    padding: 0;
}

#colors > h2 {
    text-align: center;
    background-color: aquamarine;
}

#colors > h1 {
    color: red;
    text-align: center;
}

#colors {
    min-height: 100vh;
    border: 4px solid blueviolet;
}

#colors > div {
    min-height: 50vh;
    background-color: lightblue;
}

div {
    background-color: #00FF00;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

h3 {
    background-color: darkslategray;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.same ol {
    padding: 20px;
    background-color: darkgray;
    line-height: 2;
}

#one {
    color: #FF0000;
    font-weight: bold;
}

#two {
    color: rgb(255,0,0,0.5);
    font-weight: bold;
}

#three {
    color: rgba(255, 0, 0, 0.5);
    font-weight: bold;
}

#four {
    color: hsl(0, 100%, 50%);
    font-weight: bold;
}

#five {
    color: hsla(0, 100%, 50%, 0.5);
    font-weight: bold;
}

#six {
    color:  cmyk(0, 100%, 100%, 0);
    font-weight: bold;
}

#seven {
    color: red;
    font-weight: bold;
}

#eight {
    color: #FF0000;
    font-weight: bold;
}

#nine {
    color: #00FF00;
    font-weight: bold;
}

#ten {
    color: #0000FF;
    font-weight: bold;
}

#eleven {
    color: #000000;
    font-weight: bold;
}

#twelve {
    color: #FFFFFF;
    font-weight: bold;
}

#thirteen {
    color: #FFFF00;
    font-weight: bold;
}

#fourteen {
    color: #800080;
    font-weight: bold;
}

#fifteen {
    color:  #FFA500;
    font-weight: bold;
}

#sixteen {
    color:  #808080;
    font-weight: bold;
}

#seventeen {
    color: #800000;
    font-weight: bold;
}

#eighteen {
    color: #808080;
    font-weight: bold;
}

#nineteen {
    color: #4B0082;
    font-weight: bold;
}

#twenty {
    color: #00FFFF;
    font-weight: bold;
}

#twentyone {
    color: #FFC0CB;
    font-weight: bold;
}