* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

nav {
    background-color: #333;
    padding: 15px;
    position: sticky;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: purple;
    transition: color 0.3s ease;
}

section {
    min-height: 100vh;
}

h2 {
    font-size: 30px;
    color: red;
    background-color: blueviolet;
    margin-top: 40px;
    margin-bottom: 40px;
}

#home {
    padding: 50px;
    background-color: aqua;
}

#entity h1 {
    color: purple;
    background-color: gray;
    font-size: 40px;
}

#entity p {
    margin-top: 40px;
    background-color: lightgreen;
}

#boiler a {
    text-decoration: none;
    color:darkred;
    font-weight: bold;
}

canvas {
    margin-top: 20px;
    border: 1px solid black;
    background-color: red;
}

footer {
    background-color: purple;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    background-color: #333;
    transition: 0.5s ease;
}