div {
    margin-bottom: 50px;
}
#one {
    background-color: red;
    border: 5px solid blue !important;
}

#two {
    background-color: blue;
    color: lightslategray;
    border: 5px solid black;
    text-align: center;
}

#three {
    background-color: green;
    border: 5px solid darkgreen;
}

#four {
    background-color: yellow;
    border: 5px solid darkorange;
}